---
import Emprendimiento from "./Emprendimiento.astro";
import { emprendimientos } from "../emprendimientos";
import Hero from "./Hero.astro";
---

<div id="container">
	<Hero />
	<main id="emprendimientos" class="emprendimientos">
		<h3 class="emprendimientos-titulo">TODOS LOS EMPRENDIMIENTOS</h3>
		<ul class="emprendimientos-lista">
			{
				emprendimientos?.map((el, i) => (
					<li>
						<Emprendimiento
							title={el.title}
							description={el.description}
							category={el.category}
							image={el.image}
							logo={el.logo}
							name={el.name}
							position={el.position}
							whatsapp={el.whatsapp}
							facebook={el.facebook}
							website={el.website}
							instagram={el.instagram}
							linkText={el.linkText}
							gallery={el.gallery}
						>
							<div
								class="emprendimiento-aditional"
								set:html={el.aditional}
							/>
						</Emprendimiento>
					</li>
				))
			}
		</ul>
	</main>
	<footer class="footer">© Corporación ACS 2026 – Derechos Reservados</footer>
</div>

<style></style>
